<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorator="@{~/base/layout}">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 
	<title>Consultar Registros de Imóveis</title>
</head>
<body>
 
<section layout:fragment="content">
 
    <!-- MONTANDO O GRID PARA POSICIONAR O FORMULÁRIO NO CENTRO -->   
   <div class="mdl-grid">   
    <div class="mdl-layout-spacer"></div>    
    <section class="section--center mdl-grid mdl-shadow--4dp mdl-color--white">
    
    
    <!-- TODA ESSA PARTE É PESQUISA POR FILTRO SEPARADA
 	<form action="searchOwner" method="POST">
 		<label> Pesquisa por Proprietário: </label>
 		 <input name="nameSearch"> 
 		<input class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit" value="Buscar">
 	</form>
 	<form style="padding-left:10px;" action="searchId" method="POST">
 		<label> Pesquisa por Id: </label>
 		<input name="idSearch">
 		<input class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit" value="Buscar">
 	</form>
 	<form style="padding-left:10px;" action="searchAdress" method="POST">
 		<label> Pesquisa por Rua: </label>
 		<input name="idAdress">
 		<input class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit" value="Buscar">
 	</form>
 	 -->
    <div class="mdl-cell mdl-cell--12-col">
       <div class="alinhar-centro">
       <!-- PODERIA DEIXAR O FORMULARIO ABAIXO, MAS NESSE QUESITO FICA MELHOR VISUALIZAÇÃO SEM SER EM LINHAS -->
    <form method="POST" th:action="@{../search}" class="form-inline" role="form" > <!--th:object="${immobilesEntity}" -->
		<label for="inputId" class="col-lg-2 control-label">Id:</label>
			<input type="number" class="form-control" id="input-id" name="idSearch" placeholder="Digite o id">
	
		<label for="inputStreet" class="col-lg-2 control-label">Rua:</label>
			<input type="text" class="form-control" id="input-street" name="nameStreet" placeholder="Digite a rua"> <!-- th:field="*{street}" -->
		
		<label for="inputOwners" class="col-lg-2 control-label">Proprietário:</label>
			<input type="text" class="form-control" id="input-owners" name="nameSearch" placeholder="Digite o proprietário">
	
		<button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" value="Filtrar">Filtrar</button>
	</form>
       </div>
       <div class="alinhar-centro" th:if="${msg_result_success}">						 	
	 	<p id="p-message" class="sucesso-msg" th:text="${msg_result_success}" >...</p>		
	 	</div>
       <div class="col-sm-offset-2">
       <span >Consultar Imóveis Cadastrados</span>
       </div>
       
       <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
       <!-- CABEÇALHO DA TABELA -->
       <thead>
	  <tr>
	    <th>Código</th>
	    <th class="mdl-data-table__cell--non-numeric">CEP</th>
	    <th class="mdl-data-table__cell--non-numeric">Rua</th>
	    <th class="mdl-data-table__cell--non-numeric">Número</th>
	    <th class="mdl-data-table__cell--non-numeric">Complemento</th>
	    <th class="mdl-data-table__cell--non-numeric">Bairro</th>
	    <th class="mdl-data-table__cell--non-numeric">Cidade</th>
	    <th class="mdl-data-table__cell--non-numeric">Estado</th>
	    <th class="mdl-data-table__cell--non-numeric">Tipo</th>
	    <th class="mdl-data-table__cell--non-numeric">Preço</th>
	    <th class="mdl-data-table__cell--non-numeric">Proprietário</th>
	    <th class="mdl-data-table__cell--non-numeric">Editar</th>
	    <th class="mdl-data-table__cell--non-numeric">Excluir</th>
	   </tr>
	</thead>
	<tbody>
	<!-- PREENCHENDO A TABELA COM OS IMÓVEIS CADASTRADOS-->
	<th:block th:each="immobileEnt : ${immobileEntity}">
	   <tr>
	    <td th:text="${immobileEnt.id}"></td>
	    <td th:text="${immobileEnt.cep}" ></td>
	    <td th:text="${immobileEnt.street}" ></td>
	    <td th:text="${immobileEnt.number}" ></td>
		<td th:text="${immobileEnt.complement}" ></td>
	    <td th:text="${immobileEnt.neighborhood}" ></td>
	    <td th:text="${immobileEnt.city}" ></td>
	    <td th:text="${immobileEnt.state}" ></td>
	    <td th:text="${immobileEnt.types}" ></td>
	    <td th:text="${immobileEnt.price}" ></td>
	    <td th:text="${immobileEnt.owners.name}" ></td>
	    <td>
		<!-- REALIZANDO A REQUEST PARA EDITAR UM CADASTRO -->
		<form action="#" th:action="@{../edit}" method="get">
		  <input type="hidden" name="idImmobile" th:value="${immobileEnt.id}" />					   			
		  <button type="submit"  class="mdl-chip__action"><i class="material-icons">create</i></button>
		</form>
	    </td>
            <td>
		<!-- EXCLUINDO UM REGISTRO CADASTRADO -->
		<form action="#" th:action="@{../delete}" method="post">					   			 
		  <input type="hidden" name="idImmobile" th:value="${immobileEnt.id}" />								 					   			 
		  <button type="submit"  class="mdl-chip__action" onclick="return confirm('Deseja realmente excluir esse registro?');"><i class="material-icons">delete</i></button>
		</form>
	    </td>
         </tr>
      </th:block>	
   </tbody>	
</table>
 
 
</div>
 
</section>	
<div class="mdl-layout-spacer"></div>
</div>
<!--  CASO NECESSÁRIO É POSSIVEL FAZER UM BOTAO PARA ATUALIZAR A PAGINA
<a style="padding-left:5px;" class="material-icons" th:href="@{/consult}">refresh</a>
 -->
</section>
 
</body>
</html>