<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorator="@{~/base/layout}">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 
	<title>Editar cadastro de Imóveis</title>
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
 
 	<script type="text/javascript">
		function k(i) {
			var v = i.value.replace(/\D/g,'');
			v = (v/100).toFixed(2) + '';
			v = v.replace(".", ",");
			v = v.replace(/(\d)(\d{3})(\d{3}),/g, "$1.$2.$3,");
			v = v.replace(/(\d)(\d{3}),/g, "$1.$2,");
			i.value = v;
		}
	</script>
</head>
<body>
 
<section layout:fragment="content">
 
    <!-- MONTANDO O GRID PARA POSICIONAR O FORMULÁRIO NO CENTRO -->   
   <div class="mdl-grid">   
    <div class="mdl-layout-spacer"></div>    
    <section class="section--center mdl-grid mdl-shadow--4dp mdl-color--white">
 
     <div class="mdl-cell mdl-cell--12-col">
	<div class="alinhar-centro">
	<b>
	  <span style="padding-left:75px;">Editar cadastro de Imóvel</span>			
	</b>  
        </div>			
 
       <form action="#" id="form-cadaster" th:action="@{../saveAlter}" th:object="${immobileEntity}" method="post">
	<fieldset>
    <ul class="mdl-list">
	      			<!-- MENSAGEM A SER MOSTRADA APÓS EXECUTARMOS O POST -->
	 <li class="mdl-list__item" th:if="${msg_result_success}">						 	
	 	<p id="p-message" class="sucesso-msg" th:text="${msg_result_success}" >...</p>		
	 </li>
	 
	 <li class="mdl-list__item" th:if="${msg_result_fail}">						 	
	 	<p id="p-message" class="erro-msg" th:text="${msg_result_fail}" >...</p>		
	 </li>
	     
	     <li class="mdl-list__item">			 		  
		 <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
	            <input class="mdl-textfield__input" type="text" id="id" th:field="*{id}" readonly="readonly"/>
		    <label class="mdl-textfield__label" for="id">Código...</label>							   
		 </div>
	     </li>			 						 
	     <!-- CAMPO CEP -->
	 <li class="mdl-list__item">			 		  
		 <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		   <input class="mdl-textfield__input" type="text" id="cep" th:field="*{cep}" maxlength="9"/>
    	   <label class="mdl-textfield__label" for="cep">Cep...</label>
    	   <script type="text/javascript">
   				$("#cep").mask("00000-000");
    	   </script>
		   <p th:if="${#fields.hasErrors('cep')}" th:errors="*{cep}" class="error-msg">...</p>
		 </div>
	 </li>
 
	 <!-- CAMPO RUA -->
	 <li class="mdl-list__item">
		 <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		   <input class="mdl-textfield__input" type="text" id="street" th:field="*{street}" title="O campo rua não pode conter números"/>
		   <label class="mdl-textfield__label" for="street">Rua...</label>
		   <p th:if="${#fields.hasErrors('street')}" th:errors="*{street}" class="error-msg">...</p>
		 </div>
	 </li>
 
	 <!-- CAMPO NUMERO -->
	 <li class="mdl-list__item">
		 <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		   <input class="mdl-textfield__input" type="text" id="number" th:field="*{number}" pattern="\d*" maxlength="4"/>
		   <label class="mdl-textfield__label" for="number">Número...</label>
		   <p th:if="${#fields.hasErrors('number')}" th:errors="*{number}" class="error-msg">...</p>
		 </div>
	 </li>
	 <!-- CAMPO COMPLEMENTO -->
	 <li class="mdl-list__item">
		 <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		   <input class="mdl-textfield__input" type="text" id="complement" th:field="*{complement}"/>
		   <label class="mdl-textfield__label" for="complement">Complemento...</label>
		   <p th:if="${#fields.hasErrors('complement')}" th:errors="*{complement}" class="error-msg">...</p>
		 </div>
	 </li>
	 
	 <!-- CAMPO BAIRRO -->
	 <li class="mdl-list__item">
		 <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		   <input class="mdl-textfield__input" type="text" id="neighborhood" th:field="*{neighborhood}" pattern="[^0-9]+$" title="O campo bairro não pode conter números"/>
		   <label class="mdl-textfield__label" for="neighborhood">Bairro...</label>
		   <p th:if="${#fields.hasErrors('neighborhood')}" th:errors="*{neighborhood}" class="error-msg">...</p>
		 </div>
	 </li>
	 
	 <!-- CAMPO CIDADE -->
	 <li class="mdl-list__item">
		 <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		   <input class="mdl-textfield__input" type="text" id="city" th:field="*{city}" pattern="[^0-9]+$" title="O campo cidade não pode conter números"/>
		   <label class="mdl-textfield__label" for="city">Cidade...</label>
		   <p th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="error-msg">...</p>
		 </div>
	 </li>
	 
	 <!-- CAMPO ESTADO 
	 <li class="mdl-list__item">
		 <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		   <input class="mdl-textfield__input" type="text" id="state" th:field="*{state}" pattern="[^0-9]+$" title="O campo estado não pode conter números"/>
		   <label class="mdl-textfield__label" for="state">Estado...</label>
		   <p th:if="${#fields.hasErrors('state')}" th:errors="*{state}" class="error-msg">...</p>
		 </div>
	 </li>
	 -->
	 <!--  ESTADOS EM SELECT -->
	 <li class="mdl-list__item">
		<div class="col-md-4 mb-3">
            <label for="state">Estado: </label>
            <select th:field="*{state}" class="chosen-select form-control" id="state" data-placeholder="State">
		   		<option th:value="Acre" th:text="Acre"> </option>
		   		<option th:value="Alagoas" th:text="Alagoas"></option>
		   		<option th:value="Amapá" th:text="Amapá"></option>
		   		<option th:value="Amazonas" th:text="Amazonas"></option>
		   		<option th:value="Bahia" th:text="Bahia"></option>
		   		<option th:value="Ceará" th:text="Ceará"></option>
		   		<option th:value="'Distrito Federal'" th:text="'Distrito Federal'"></option>
		   		<option th:value="'Espírito Santo'" th:text="'Espírito Santo'"></option>
		   		<option th:value="Goiás" th:text="Goiás"></option>
		   		<option th:value="Maranhão" th:text="Maranhão"></option>
		   		<option th:value="'Mato Grosso'" th:text="'Mato Grosso'"></option>
		   		<option th:value="'Mato Grosso do Sul'" th:text="'Mato Grosso do Sul'"></option>
		   		<option th:value="'Minas Gerais'" th:text="'Minas Gerais'"></option>
		   		<option th:value="Pará" th:text="Pará"></option>
		   		<option th:value="Paraíba" th:text="Paraíba"></option>
		   		<option th:value="Paraná" th:text="Paraná"></option>
		   		<option th:value="Pernambuco" th:text="Pernambuco"></option>
		   		<option th:value="Piauí" th:text="Piauí"></option>
		   		<option th:value="'Rio de Janeiro'" th:text="'Rio de Janeiro'"></option>
		   		<option th:value="'Rio Grande do Norte'" th:text="'Rio Grande do Norte'"></option>
		   		<option th:value="'Rio Grande do Sul'" th:text="'Rio Grande do Sul'"></option>
		   		<option th:value="Rondônia" th:text="Rondônia"></option>
		   		<option th:value="Roraima" th:text="Roraima"></option>
		   		<option th:value="'Santa Catarina'" th:text="'Santa Catarina'"></option>
		   		<option th:value="'São Paulo'" th:text="'São Paulo'"></option>
		  		<option th:value="Sergipe" th:text="Sergipe"></option>
		  		<option th:value="Tocantins" th:text="Tocantins"></option>	
		   </select>
		</div>
	 </li>
	 
	 <!-- CAMPO PREÇO -->
	 <li class="mdl-list__item">
		 <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		   <input class="mdl-textfield__input" type="text" id="price" th:field="*{price}" onkeyup="k(this);" />
		   <label class="mdl-textfield__label" for="price">Preço...</label>
		   <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="error-msg">...</p>
		 </div>
	 </li>
 
	 <li class="mdl-list__item">
	 		
		<div class="col-md-4 mb-3">
            <label for="nome">Tipo: </label>
            <select th:field="*{types}" class="chosen-select form-control" id="types" data-placeholder="Types">
		   		<option th:value="Locação" th:text="Locação"> </option>
		   		<option th:value="Venda" th:text="Venda"></option>
		   </select>
		</div>
	 </li>
	 
	 <li class="mdl-list__item">
 		<div class="col-md-4 mb-3">
             <label for="nome">Proprietário: </label>
                   <select th:field="*{owners.id}" class="chosen-select form-control" id="owners" data-placeholder="Owner">
                          <option th:each="owner : ${owners}" th:value="${owner.id}" 
                             th:text="${owner.name}">...</option>
             </select>
        </div>
	 </li>
      </ul>
  </fieldset>			 
  <div class="mdl-grid">
  	<div class="mdl-layout-spacer"></div>
  	<div class="mdl-cell mdl-cell--4-col" style="padding-right:10px;">
  		<a th:href="@{/consult}" class="mdl-button mdl-js-button mdl-button--raised">Voltar</a>
  	</div>
    <div class="mdl-layout-spacer"></div>
       <div class="mdl-cell mdl-cell--4-col" style="padding-right:10px;">
	   <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Salvar</button>
       </div>
  </div>  
</form>
 
</div>
 
</section>	
<div class="mdl-layout-spacer"></div>
</div>
 
</section>
 
</body>
 
</html>